@page "/"
@using System.Text.Json;
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private static string URL = "/api/Inventory/get";
    private Item[]? items;

    protected override async Task OnInitializedAsync()
    {
        items = await Http.GetFromJsonAsync<Item[]>(NavigationManager.ToAbsoluteUri("Inventory"));
    }
}